<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My first webpage</title>
    </head>
    <h2> This is my first website</h2>
    <body>
    <h4> This is going to be a list of ingredients</h4>
<!--        <ul>-->
<!--            <li>Eggs</li>-->
<!--            <li>Milk</li>-->
<!--            <li>Cheese</li>-->
<!--        </ul>-->
<!--        <a href = "Google.com">Add Grocery Item</a>-->
<!--        <img src= "https://i.ytimg.com/vi/cjFQgwZKePc/maxresdefault.jpg">-->
        <form action = "indexvideo.html" method = "GET">
            <input type= "text" name = "name" placeholder= "Name">
            <button type="submit"> Submit </button>
        </form>
    </body>
</html>